.window {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
}

.window canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  outline: none !important;
}