.section {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    padding: 2rem;
    background-color: var(--card);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.icon {
    margin: 0 auto;
}

/* Optional: Adjust spacing on smaller screens */
@media only screen and (max-width: 500px) {
    .section {
        gap: 1rem;
    }
}
