.section {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: flex-start;
}

/* LEFT SIDE */
.upload {
  width: 50%;
  background-color: var(--card);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewBox {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  overflow: hidden;
  background: #f5f5f5;
}

/* RIGHT SIDE */
.controls {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.selectTrigger {
  width: 100%;
}

.results {
  margin-top: 1rem;
}

.resultsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  padding: 1rem;
}

.resultsWrapper {
  background: var(--card);
  border: 1px solid var(--border);
  padding: 0.75rem;
  border-radius: var(--radius);
}

.price {
  font-weight: bold;
}

/* BUTTON GROUP */
.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .upload,
  .controls {
    width: 100%;
  }
  .resultsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
