.section {
    display: flex;
    gap: 1rem;
    width: 100%;
}
.upload {
    width: 50%;
    background-color: var(--card);
    border-radius: var(--radius);
    border: 1px solid var(--border);
}
.controls {
    width: 50%;
}
.selectTrigger {
    width: 100%;
}
@media only screen and (max-width: 800px) {
    .section {
        flex-direction: column;
    }
    .upload {
        width: 100%;
    }
    .controls {
        width: 100%;
    }
}