.header {
    background-color: var(--card);

    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 1000; 
}
.headerContainer {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.logo {
    width: 7rem;
    height: auto;
}
.navigation {
    z-index: 10;
    margin: auto 0;
}
.fullScreenButtons {
    display: flex;
    gap: 1rem;
    z-index: 10;
    margin: auto 0;
}
.halfScreenButtons {
    display: none;
    gap: 1rem;
    z-index: 10;
    margin: auto 0;
    z-index: 999;
}
.dropdownContent {
    z-index: 1000; 
    min-width: 200px; 
}

.headerScroll {
    z-index: 1;
}
@media only screen and (max-width: 1440px) {
    .header {
        width: 100%;
    }
}
@media only screen and (max-width: 1150px) {
    .fullScreenButtons {
        display: none;
    }
    .halfScreenButtons {
            display: flex;

    }
}

