.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-auto-rows: auto;
    gap: 2rem;
}
.industryItem {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 1rem;
    text-align: left;
}
.thumbnail {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: var(--brand-blue);
    color: white;
}
.paginationWrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
