.main {
    min-height: 100vh;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 110px;
}
.card {
    display: flex;
    gap: 2rem;
}
.cardThumbnail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    width: 50%;
}
.navigation {
    display: flex;
    gap: 1rem;
}
.breadcrumb {
    margin: auto 0;
}