.footer {
    background-color: var(--brand-blue);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}
.top {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.border {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 1rem 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
}
.policy {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}