.footer {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 2rem;
    width: 100%;
}


.logoContainer {
    width: fit-content;
}
.logo {
    width: 40rem;
    height: auto;
}

.infoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.infoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.infoContainerBottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}