.section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: calc(100vh - 110px);
}

.titleSection {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.sectionSubtitle {
  margin: auto 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-auto-rows: auto;
    gap: 2rem;
}

.industryItem {
  display: flex;
  flex-direction: column;
  align-items: left; /* centers the content */
  justify-content: flex-start;
  gap: 1rem;
  text-align: left; /* ensures title is centered */
}

.thumbnail {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: var(--brand-blue);
  color: white;
}



.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
