/* Main Section */
.section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Header Section */
.titleSection {
    display: flex;
    gap: 2rem;
}
.sectionSubtitle {
    margin: auto 0;
}



.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-auto-rows: auto; /* automatically height adjusts */
  gap: 2.5rem;
}




.newsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    overflow: hidden;
}




/* Thumbnail */
.thumbnailWrapper {
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
    background-color: var(--brand-blue);
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.description{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Pagination */
.paginationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

