.section {
    height: auto;
    width: 100%;
    margin: 0 auto;
    background-color: var(--brand-blue);
}
.container {
    padding: 2rem;
    max-width: 1440px;
    margin: 0 auto;
}
.title {
    color: white;
}