.section {
    width: 100%;
    min-height: calc(100vh - 110px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Header Section */
.sectionHeader {
    display: flex;
    gap: 2rem;
}
.sectionSubtitle {
    margin: auto 0;
}








.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
}

.image {
    width: 100%;
    aspect-ratio: 1 / 1; /* ensures 1:1 ratio */
    object-fit: cover;
    background-color: var(--brand-blue);
}

.meta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

