.section {
    height: auto;
    width: 100%;
    padding: 2rem;
    background-color: var(--brand-blue);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 5rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.quote {
    font-family: var(--font-lora_serif);
    font-weight: 400;
    font-style: normal;
    color: white
}
.author {
    color: white
}