.section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
    min-height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sectionTitle {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sectionTitle p {
    margin: auto 0;
}
.container {
    display: flex;
    gap: 1rem;
    width: 100%;
}
.services, .products {
    width: 50%;
}
@media only screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }
    .services, .products {
        width: 100%;
    }
}
