.main {
    margin: 0 auto;
    margin-top: 110px;
    width: 100%;
    max-width: 1440px;
    padding: 2rem;
    min-height: 100vh;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.containerHeader {
    display: flex;
    gap: 2rem;
}
.containerHeader p {
    margin: auto 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    cursor: pointer;
}
.thumbnailWrapper {
    width: 100%;
    height: 180px;
    background-color: var(--brand-blue);
    overflow: hidden;
}
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.empty {
    text-align: center;
}