.main {
    margin: 0 auto;
    margin-top: 110px;
    width: 100%;
    max-width: 1440px;
    padding: 2rem;
    min-height: 100vh;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.header {
    display: flex;
    flex-direction: column;
}
.headerTitle {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.headerTitle p {
    margin: auto 0;
}