
.container {
    width: 100%;
    height: calc(100vh - 300px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
.productsCard {
    background-color: var(--card);
    padding: 1.5rem;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    justify-content: space-between;
}

/* Top gradient bar animation */
.productsCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.productsCard:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px var(--brand-blue);
    border-color: var(--brand-blue);
}

.productsCard:hover::before {
    transform: translateX(0);
}















/* Responsive */
@media (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
}